@import '../../../scss/variables';

.container {

    .posts__container {

        .post__item {

            border: 1px solid $grey;
            margin: 5px 0px;

            .post-data {   

                .post-data--title {
                    font-size: 1rem;
                    background-color: $grey;
                }

                .post-data--body {
                    font-size: .9rem;
                }

                p {
                    margin-bottom: 0px;
                    padding: 5px;
                }
            }

            .comments__container {
                padding: 5px;

                .no-comments__item {
                    font-size: .8rem;
                    color: $dark-grey;
                    margin: 10px 0px;
                    padding-left: 15px;
                }

                .comments__item {
                    margin-bottom: 10px;

                    .comment__container {
                        margin: 0px 10px;


                        .comment__item {

                            border-left: 2px solid $grey;
                            padding-left: 5px;
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0px;
                            }

                            p {
                                font-size: .8rem;
                                margin-bottom: 0px;
    
                                &:first-child {
                                    font-weight: 600;
                                }
    
                            }

                        }
                    }

                    .comments__button {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        align-items: center;
                        padding-left: 17px;
                        margin-top: 10px;

                        p {
                            margin-bottom: 0px;
                            font-size: .8rem;
                            display: flex;
                            align-items: flex-start;

                            span {
                                background-color: $dark-grey;
                                color: $white;
                                font-size: .5rem;
                                margin-left: 2px;
                            }
                        }
    
                        fa-icon {
                             margin-left: 10px;
                        }
                    }


                }
            }
        } 
    }
}